@import "tailwindcss";

@font-face {
  font-family: "FKScreamer";
  src: url("./assets/fonts/FKScreamer.woff2");
}

@font-face {
  font-family: "NeueMontreal-Medium";
  src: url("./assets/fonts/NeueMontreal-Medium.woff2");
}

@font-face {
  font-family: "NeueMontreal-Bold";
  src: url("./assets/fonts/NeueMontreal-Bold.woff2");
}

@theme {
  --font-FKScreamer: "FKScreamer", sans-serif;
  --font-NeueMontreal-Medium: "NeueMontreal-Medium", sans-serif;
  --font-NeueMontreal-Bold: "NeueMontreal-Bold", sans-serif;
  --font-size-fs: clamp(1.2rem, 1.2rem, 1.2rem);
}

@layer base {
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
  #root {
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer utilities {
  .grid-card {
    position: relative;
    aspect-ratio: 128/174;
    transform: scale(1);
    filter: saturate(0);
    transform-origin: center center;
    will-change: transform;
    z-index: 1;
  }
  .background {
    filter: saturate(0);
    transform-origin: center center;
    pointer-events: none;
    will-change: transform;
  }
  .background:hover {
    filter: saturate(1);
  }
  .text-span {
    font-size: calc(clamp(1rem, 23.5vw, 47rem) * 0.87);
    line-height: 90%;
  }
  .overlay-span {
    font-size: 0.8rem;
    line-height: 100%;
    opacity: 1;
    visibility: visible;
  }
  .overlay-img {
    opacity: 0.4;
    filter: saturate(0);
    object-position: center center;
    will-change: transform, opacity;
    pointer-events: none;
  }

  .overlay-img:hover {
    filter: saturate(1);
  }

  .container-image {
    object-position: center center;
    will-change: transform, opacity;
  }
}
